{% extends "portal/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
	<div class="col-md-8">
    <div class="content-section">
	
	<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
			
				<legend class="border-bottom mb-4">Update post {{object.id}}</legend>
				<br>
				<fieldset class="form-group">	
					<div class="form-group row">
				
						<label for="id_datum" class="col-sm-2 col-form-label">Datum</label>
						<div class="col-sm-10">
						{% render_field form.datum class="form-control" %}
						</div>

						<label for="id_mijlpaal" class="col-sm-2 col-form-label">Mijlpaal</label>
						<div class="col-sm-10">
						  {% render_field form.mijlpaal class="form-control" %}
						</div>
					</div>

					<br>

						<h4>Lotte</h4>
						<div class="form-group row">
				
							<label class="col-sm-2 col-form-label">Titel</label>
							<div class="col-sm-10">
							{% render_field form.titel_lotte class="form-control" %}
							</div>
	
							<label class="col-sm-2 col-form-label">Beschrijving</label>
							<div class="col-sm-10">
								{% render_field form.beschrijving_lotte class="form-control" %}
							</div>
						</div>	

						<h4>Merlijn</h4>
						<div class="form-group row">
				
							<label class="col-sm-2 col-form-label">Titel</label>
							<div class="col-sm-10">
							{% render_field form.titel_merlijn class="form-control" %}
							</div>
	
							<label class="col-sm-2 col-form-label">Beschrijving</label>
							<div class="col-sm-10">
								{% render_field form.beschrijving_merlijn class="form-control" %}
							</div>
						</div>	

						


						
					<div class="form-group">	
						<label for="id_beschrijving" style="font-style: italic;">Favoriete post</label>
						{% render_field form.favpost  %}
					</div>					
			    </fieldset>				
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Save</button>
					<a href="{% url 'mykids-home-list' %}" class="btn btn-outline-info">Cancel</a>
				</div>     

    </form>		
	
    </div>
{% endblock content %}    