{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="content-section">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'mykids-image' %}">Images</a>					
            </div>

        </form>
		</div>
	</div>
</div>
{% endblock content %}
